.textH3{
  border: 2px solid pink;
  width: 200px;
}
.searchBar{
  border: 2px solid blue;
  font-size: 20px;
  padding: 7px;
}
.div1{
  display: flex;
  line-height: 0px;
}
.div1 p {
  margin-right: 20px;
}
.div2{
  display: flex;
}